.titulo{
    font-weight: bold;
    color: #815DA6 !important;
 }
 
 .box {
    background-color: #B18FBF!important;
}

.botao1{
    background-color: #B18FBF!important;
}

.botao2{
    background-color: #815DA6!important;
}