.box1{
 background-color: #B18FBF;
 height: 120px
}

.redes{
    font-size: 60px !important; 
    color: #ffffff;
}

.box2{
    background-color: #815DA6!important;
    height: 60px
}

.textos{
    color: white;
 }