.box1{
 background-color: #ff00ff;
 height: 120px
}

.redes{
    font-size: 60px !important; 
    color: #ffffff;
}

.box2{
    background-color: #800080 !important;
    height: 60px
}

.textos{
    color: white;
 }