.caixa{
    background-color: #815DA6;
}

.titulo{
   color: white !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #815DA6;
    color: white !important;
}

.postagens{
    background-color: white;
}

.img{

}
